@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  width: 100%;
  height: 100% !important;
  margin: 0 !important;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}

.str-chat__window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.str-chat__main-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.str-chat__thread {
  height: 100%;
}